<link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
<div  id='main-content'>
  <div class="jumbotron brief">
    <h1>Welcome to MeatBall!</h1>
    <p>MeatBall is a wonderful place for you to build your reputation on the internet. Do you want to be an opinion leader? Do you have any good idea to share with you fans? Come here, this is the right stage for you!</p>
  <% if(success){ %>
  <div class='alert alert-success'>
    <%= success %>
  </div>
  <% } %>
  <% if(error){ %>
  <div class='alert alert-danger'>
    <%= error %>
  </div>
  <% } %>
    <div class='row'>
      <form class='form-horizontal col-sm-4' method='post'>
        <div class='form-group'>
          <label class='control-label col-sm-3' for='name'>Name:</label>
          <div class='col-sm-9'>
            <input type='text' id='name' class='form-control' name='name' placeholder='input your name' />
          </div>
        </div>
        <div class='form-group'>
          <label class='control-label col-sm-3' for='password'>Password:</label>
          <div class='col-sm-9'>
            <input type='password' id='pass' class='form-control' name='pass' placeholder='input your password' />
          </div>
        </div>
        <div class='text-center'>
          <button type='submit' class='btn btn-primary'>Login</button>
        </div>
      </form>
    </div>
  </div>
  <div class='container posts'>
    <div class='row'>
      <div class='col-sm-4'>
        <p class='post'>Things base and vile, holding no quantity, love can transpose to from and dignity: love looks not with the eyes, but with mind.</p>
      </div>
      <div class='col-sm-4'>
        <p class='post'>The lunatic, the lover and the poet are of imagination all compact. The lunatic, the lover and the poet are of imagination all compact.</p>
      </div>
      <div class='col-sm-4'>
        <p class='post'>Since the little wit that fools have was silenc’d, the little foolery that wise men have makes a great show.</p>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-4'>
        <p class='post'>The lunatic, the lover and the poet are of imagination all compact. The lunatic, the lover and the poet are of imagination all compact.</p>
      </div>
      <div class='col-sm-4'>
        <p class='post'>Since the little wit that fools have was silenc’d, the little foolery that wise men have makes a great show.</p>
      </div>
      <div class='col-sm-4'>
        <p class='post'>Since the little wit that fools have was silenc’d, the little foolery that wise men have makes a great show.</p>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src='/javascripts/libs/jquery-1.11.0.min.js'></script>
<script type="text/javascript" src='/javascripts/libs/bootstrap.min.js'></script>