body {
  padding: 0;
  padding-top: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.footer {
	margin-top: 10px;
}
.copyright{
	background: #000;
	color: #FFF;
	padding: 5px;
}